<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contact</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <div th:replace="~{dashboard :: navbar}"></div>
    <div class="container mt-4 flex-grow-1">
        <h1 class="text-center mb-4">Add Contact</h1>
        
        <!-- Display session message -->
        <div th:if="${message}" th:classappend="${message.startsWith('Contact added') ? 'alert-success' : 'alert-danger'}" class="alert pb-0">
            <p th:text="${message}"></p>
        </div>

        <!-- Add Contact Form -->
        <div class="card mb-4">
            <div class="card-header">
                Add Contact
            </div>
            <div class="card-body">
                <form action="/add-contact" th:object="${contact}" method="post">
                    <div class="form-group">
                        <label for="contactName">Contact Name:</label>
                        <input type="text" class="form-control" id="contactName" th:field="*{name}" placeholder="Enter contact name">
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Email:</label>
                        <input type="email" class="form-control" id="contactEmail" th:field="*{email}" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="contactPhone">Phone:</label>
                        <input type="text" class="form-control" id="contactPhone" th:field="*{phone}" placeholder="Enter phone">
                    </div>
                    <div class="form-group">
                        <label for="contactMessage">Message:</label>
                        <textarea class="form-control" id="contactMessage" th:field="*{message}" rows="5" placeholder="Your Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Contact</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{dashboard :: dashboardfooter}"></div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
